<p style="color: green"><%= notice %></p>

<h1>Clientes</h1>

<div id="clientes">
  <% @clientes.each do |cliente| %>
    <%= render cliente %>
    <p>
      <button><%= link_to "Show this cliente", cliente %></button>
    </p>
  <% end %>
</div>

<button><%= link_to "New cliente", new_cliente_path %></button>
<p><button><%= link_to "Inicio", root_path %></button></p>