<p style="color: green"><%= notice %></p>

<%= render @cliente%>

<h1>Agendamentos marcados:</h1>
<%= render @cliente.agendamentos %>

<h1>Agendar novo horario:</h1>

<%= form_with model:[@cliente, @cliente.agendamentos.build] do |form| %>
  <div>
    <%= collection_select(:agendamento, :barbeiro_id, Barbeiro.all, :id, :nome , { prompt: "Selecionar Barbeiro"}) %>
  </div>

  <div>
    <%= collection_select(:agendamento, :service_id, Service.all, :id, :nome , { prompt: "Selecionar Serviço"}) %>
  </div>

  <div>
    <%= form.label :inicioAtendimento, style: "display: block" %>
    <%= form.datetime_field :inicioAtendimento %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>

<div>
  <%= link_to "Edit this cliente", edit_cliente_path(@cliente) %>

  <%= button_to "Destroy this cliente", @cliente, method: :delete %>
</div>
