<div id="<%= dom_id barbeiro %>">
  <p>
    <strong>Nome:</strong>
    <%= barbeiro.nome %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= barbeiro.cpf %>
  </p>

  <p>
    <strong>Data nascimento:</strong>
    <%= barbeiro.data_nascimento %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= barbeiro.telefone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= barbeiro.email %>
  </p>

</div>
