<p style="color: green"><%= notice %></p>

<h1>Barbeiros</h1>

<div id="barbeiros">
  <% @barbeiros.each do |barbeiro| %>
    <%= render barbeiro %>
    <p>
      <button><%= link_to "Show this barbeiro", barbeiro,id:barbeiro %></button>
    </p>
  <% end %>
</div>

<%= link_to "New barbeiro", new_barbeiro_path %>
<p><button><%= link_to "Inicio", root_path %></button></p>