<p style="color: green"><%= notice %></p>

<%= render @barbeiro %>

<h1>.::Seus serviços::.</h1>
<%= render @barbeiro.agendamentos %>

<div>
  <%= link_to "Edit this barbeiro", edit_barbeiro_path(@barbeiro) %> |
  <%= link_to "Back to barbeiros", barbeiros_path %>

  <%= button_to "Destroy this barbeiro", @barbeiro, method: :delete %>
</div>
