<%= form_with(model: agendamento) do |form| %>
  <% if agendamento.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(agendamento.errors.count, "error") %> prohibited this agendamento from being saved:</h2>

      <ul>
        <% agendamento.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :inicioAtendimento, style: "display: block" %>
    <%= form.datetime_field :inicioAtendimento %>
  </div>

  <div>
    <%= form.label :fimAtendimento, style: "display: block" %>
    <%= form.datetime_field :fimAtendimento %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
