<!DOCTYPE html>
<html>
  <head>
    <title>ProjetoBarbearia</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
  <%if cliente_signed_in? %>
    <h6 class="pr-5"><%=current_cliente.nome%> - Cliente</h6>
    <%= button_to "Sair", destroy_cliente_session_path, method: :delete %>
    <%= link_to "Editar",edit_cliente_registration_path,class: "navbar-brand"  %>
  <%end %>
  <p><button><%= link_to "Inicio", root_path %></button></p>
    <%= yield %>
  </body>

</html>
